<%= image_tag @user.photo %><br>
<h4> First Name:-
<%= @user.first_name %> <br></h4>
<h4>Last Name:-
<%= @user.last_name %> <br></h4>
<h4>Email:- <%= @user.email %>
<h4>Contact Number:- <%= @user.user_contact %> <br></h4>
<h4>Location:- <%= @user.location %> <br></h4>
