<!DOCTYPE html>
<html>
  <head>
    <title>Demo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Dosis|Open+Sans:300,400,600,700" rel="stylesheet">
    <link href="/app/asssets/stylesheets/bootstrap.min.css" rel="stylesheet" />
    <link href="/app/asssets/stylesheets/fancybox/jquery.fancybox.css" rel="stylesheet">
    <link href="/app/asssets/stylesheets/jcarousel.css" rel="stylesheet" />
    <link href="/app/asssets/stylesheets/flexslider.css" rel="stylesheet" />
    <link href="/app/asssets/stylesheets/style.css" rel="stylesheet" />
    <link href="skins/default.css" rel="stylesheet">
  </head>

  <body>
    <%= render 'shared/nav' %>

    <%= yield %>
    <%= render 'shared/footer' %>

  </body>
</html>
